<script>
import Quantity from "./quantity.svelte";
export let maxValue = 6;
export let page = "home";
export let params ={};
let rectValue = 1+Math.floor(Math.random()*(maxValue-1));
let diceValue = 1+Math.floor(Math.random()*(maxValue-1));
let heapValue = 1+Math.floor(Math.random()*(maxValue-1));
let discValue = 1+Math.floor(Math.random()*(maxValue-1));
let randgridValue = 1+Math.floor(Math.random()*(maxValue-1));
let randheapValue = 1+Math.floor(Math.random()*(maxValue-1));
</script>

<h1 align=center>
	InCA - Test
</h1>

<h5 align=center>A simple multiple choice test example for a backend connection.</h5>


<table align="center"><tr>
<td on:click={()=>{params.mode="basic";page="game"}}>
		<Quantity n={rectValue} mode="basic"
							fg={params.fg}
							bg={params.bg}
							bg_opacity={params.bg_opacity}></Quantity></td>

</tr>
</table>

<div ALIGN=RIGHT>
	InCA Labs
</div>
